body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}
main {
    display: flex;
   flex-direction: column;
   width: 50%;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 60px;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 250px;
}
h1 {
    margin: 10%;
    width: 75%;
}
p {
    margin: 5%;
    width: 75%;
}
form {

}
footer {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}
div {
    display: flex;
    justify-content: center;
    background-color: blue;
    width: 50%;
}