body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-direction: row;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 250px;
}
body {
    display: flex;
    flex-direction: row-reverse;
}
main {
    display: flex;
   flex-direction: column 
}